.container {
  padding: 0px 15px;

  @media #{$desktop-pt} {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$tablet-lp} {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$tablet-pt} {
    display: flex;
    justify-content: space-between;
  }
  @media #{$tablet-max} {
    width: 480px;
  }
}
