.page-header {
  position: relative;
  align-items: center;

  @media #{$tablet-max} {
    position: relative;
  }
}

.page-header--padding {
  padding: 0;
}
.page-header--bottom-line {
  max-width: none;
  border-bottom: 1px solid #ececec;
}
