.page-header {
  position: relative;
  align-items: center;

  @media #{$tablet-max} {
    position: relative;
  }
}

.page-header--padding {
  padding: 0;
}
.page-header--bottom-line {
  max-width: 480px;
  border-bottom: 1px solid #ececec;

  @media #{$tablet-lp} {
    max-width: 768px;
  }

  @media #{$desktop-pt} {
    max-width: 1200px;
  }
  @media #{$tablet-pt} {
    margin: auto;
  }
}
