.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.logo--footer {
  @media #{$tablet-max} {
    display: flex;
    justify-content: center;
  }
}

.logo__item--black {
  font-family: $font-family-raleway;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 26px;
  line-height: 31px;
  color: $black-dark;
}
.logo__item--blue {
  font-family: $font-family-raleway;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 26px;
  line-height: 31px;
  color: $blue-light;
}
.logo__item--white {
  font-family: $font-family-raleway;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 26px;
  line-height: 31px;
  color: $white-full;
}

// Оформлення для модольного меню
.logo-section__button {
  border: none;
  @include margined();
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: $white-full;

  @media #{$tablet-pt} {
    display: none;
  }
}
.logo-section__button:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $blue-light;
}
.logo-section__icon {
  fill: currentColor;
}
