.our-work-photos {
  @media #{$desktop-max} {
    display: none;
  }

  @media #{$desktop-pt} {
    @include direction();
  }
}

.our-work-photos--size {
  @media #{$desktop-max} {
    display: none;
  }

  @media #{$desktop-pt} {
    @include margined();
  }
}

.our-work-photos .our-work-photos__list:not(:last-child) {
  @media #{$desktop-max} {
    display: none;
  }

  @media #{$desktop-pt} {
    margin-right: 30px;
  }
}

.our-work-photos__list {
  list-style: none;

  @media #{$desktop-max} {
    display: none;
  }

  @media #{$desktop-pt} {
    position: relative;
    width: 370px;
    height: 294px;
  }
}
