.our-work {
  @media #{$desktop-max} {
    display: none;
  }

  @media #{$desktop-pt} {
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.our-work__title {
  @media #{$desktop-max} {
    display: none;
  }
  @media #{$desktop-pt} {
    text-align: center;
    margin: 0px;
    @include bottom-line();

    font-family: $font-family-roboto;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: $letter-spacing-0_03em;
    color: $black-medium;
  }
}
