.regular-customers {
  @include direction();

  @media #{$desktop-max} {
    display: flex;
    flex-flow: wrap;
  }
}
.regular-customers--size {
  @include margined();
}
.regular-customers__link {
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 0px;
  margin: 0px;

  border: none;
  width: 210px;
  height: 92px;

  color: $grey-medium;
  background-color: $white-full;
  border: 1px solid $grey-medium;
  border-radius: 4px;

  @media #{$desktop-pt} {
    width: 170px;
  }
}

@media #{$tablet-max} {
  .regular-customers .regular-customers__link:nth-child(2n + 1) {
    margin-right: 30px;
  }

  .regular-customers .regular-customers__link:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media #{$desktop-max} {
  .regular-customers .regular-customers__link:nth-child(n + 4) {
    margin-top: 30px;
  }
}

@media #{$desktop-pt} {
  .regular-customers .regular-customers__link:not(:first-child) {
    margin-left: 30px;
  }
}

.regular-customers__link:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $blue-light;
  border-color: $blue-light;
}

.regular-customers__icon {
  fill: currentColor;
}
